fastapi
uvicorn
pytesseract
opencv-python-headless
pillow
numpy
pandas
python-multipart
easyocr

prometheus-client
prometheus-fastapi-instrumentator

transformers
sentencepiece

--extra-index-url https://download.pytorch.org/whl/cu126
torch
torchvision
torchaudio
protobuf 